<!DOCTYPE html>
<html lang="en" ng-app="ticTacToeApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

    <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>

    <script type = "text/javascript" src="js/main.js"></script>
    <script type = "text/javascript" src="js/TICTACTOEController.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <title>My TIC-TAC-TOE</title>



</head>
<body ng-controller="TicTacToeController">
	


	
<div id="gameboard">
	<table>
	<h1>This is tic tac toe</h1>
		<tr>
			<td class="box" ng-click="getMove(0)"> {{getSymbol(0)}}</td>
			<td class="box" ng-click="getMove(1)"> {{getSymbol(1)}}</td>
			<td class="box" ng-click="getMove(2)"> {{getSymbol(2)}}</td>
		</tr>
			
		<tr>
			<td class="box" ng-click="getMove(3)"> {{getSymbol(3)}}</td>
			<td class="box" ng-click="getMove(4)"> {{getSymbol(4)}}</td>
			<td class="box" ng-click="getMove(5)"> {{getSymbol(5)}}</td>
		</tr>
		
		<tr>
			<td class="box" ng-click="getMove(6)"> {{getSymbol(6)}}</td>
			<td class="box" ng-click="getMove(7)"> {{getSymbol(7)}}</td>
			<td class="box" ng-click="getMove(8)"> {{getSymbol(8)}}</td>
		</tr>

		</tr>
		</div>
</table>
</div>
	</table>	
<div class="players">
	PLAYER 1 WIN STREAK
	{{winCount()}}
		<br>
		<br>
		<br>
		<br>
	
	PLAYER 2 WIN STREAK
	{{winCount()}}
	
	</div>


<br>
<div class="button-game-new" ng-click= "newGame()">Start New Game</div>
<br>
<div class="button-game-refresh" ng-click = "refresh()">Clear Scores</div>
	

</body>
</html>